@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

*{  
    margin: 0px;
    font-family: "Righteous", cursive;
    
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#38404b), to(#9488ef)) fixed;
    display: flex;
    justify-content: space-around
}
#siteSemFotos{
    
}

figure{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 0 ;
    margin: -90px;
    margin-left: 28%;
    position: absolute;
    margin-bottom: 8px;
    top: 85px;
}

img{
        max-width: 10%;
        max-height: 10%;
        width: auto;
        height: auto;
        padding-top: 10px;
}
figure img{
    max-width: 8rem;
}
section{
    text-align: center;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    position: relative;
    top: 3.5rem;
}

.filmes{
    width: 60%;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}
h3{
    display: inline;

    
}
strong{
    font-size: larger;
}

main{
  width: 95%;
  margin: 4rem;
  margin-top: 3rem;
  margin-left: 0.8rem;
}
.infos{
    position: relative;
    border: solid;
    left: 34.5% ;
    width: 250px;
    top: 3rem;
    
 
}
form{
    
    background-color: rgb(228, 165, 70) ;
    width:25%;
    border: solid;
    border-radius: 5%;
    padding: 2%;
    margin-right: 2rem;
}

#textoInfos{
    padding-top: 10px;
    
    display: block;
}
#btnInfos{
    height: 50px;
    width: 200px;
    margin-left: 8%;
    
}
h3{
    margin-top: -1rem;
}
.imgFilme{
    position: relative;
    top: 9rem;
    left: 3rem;
    width:max-content;
}
@media (max-width: 1290px) {
   h3{
       margin: 3rem;
}
form{
    width: 25rem;
}
.infos{
    margin-left: -3rem;
}
@media(max-width:680px){
    h3{
        margin-top: 8rem;
        
    }
    form{
        width: 22rem;
    }
    .infos{
        margin-left: -5rem;
    }
}
@media(max-width:460px){
    .infos{
        margin-left: -7rem;
    }
    form{
        width:16rem;    
    }
}
}
@media(max-width:330px){
    form{
        width: 12rem;
    }
}