@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "Righteous", cursive;
  
  }
  body,html {
  background-color: #111927;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(214.74, 15%, 26%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(246.99, 76%, 74%) 0, transparent 55%);
  font-family: "Righteous", cursive;
  color: white;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
}
.navbar{
  width: 100%;
}
:root {
  --primary-color: #38404b;
  --secondary-color: #9488ef;
}
.card {
  --color-1: #9488ef;
  --color-2: rgb(28, 0, 48);
  --color-3: #38404b;
  width: 450px;
  height: 200px;
  background: var(--color-3);
  box-shadow: -10px -10px var(--color-1), 15px 10px var(--color-2);
  transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
  margin: 1% auto;
}

.card:hover {
  box-shadow: -10.275px -10.275px var(--color-1), 15.4px 10.275px var(--color-2);
  transform: scale(1.025);
}

.texto-card {
  display: float;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
}
#cartaz {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 5%, 5%;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-color);
  position: relative;
  overflow: hidden;
}
.movie img {
  width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movie-info h3 {
  margin-top: 0;
}
.movie-info span {
  background-color: var(--secondary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}
.movie-info span.green {
  color: lightgreen;
}
.movie-info span.orange {
  color: rgb(235, 171, 75);
}
.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  background-color: #fff;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}
.movie:hover .overview {
  transform: translateY(0);
}
.cards {
  list-style: none;
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 20px;
  position: relative;
  margin-top: 5%;
  height: 500px;
}
.cards-texto {
  font-size: 15px;
}
.cards-img {
  height: 500px;
  width: 400px;
  border-radius: 20px;
  display: block;
}
#tags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.tag {
  padding: 10px 20px;
  background-color: #fbbe98;
  border-radius: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
.tag.selecionada {
  background-color: var(--secondary-color);
}
.pagination {
  display: flex;
  margin: 10px 30px;
  align-items: center;
  justify-content: center;
}
.page {
  padding: 20px;
  cursor: pointer;
}
.page.disable {
  cursor: not-allowed;
  color: grey;
}
.atual {
  padding: 10px 20px;
  border-radius: 50%;
  border: 5px solid #fbbe98;
  font-size: 20px;
  font-weight: 600;
}
.trailers {
  background-color: #fbbe98;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 50px;
  padding: 10px 20px;
  display: inline-flex;
  margin: auto 25%;
  position: absolute;
}
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.embed.hide {
  display: none;
}
.embed.show {
  display: inline-block;
}
.arrow {
  position: absolute;
}
.arrow.left-arrow {
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.arrow.right-arrow {
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.dots {
  margin-top: 30px;
}
.dots .dot {
  padding: 10px 15px;
  border-radius: 50%;
  border: 5px solid var(--secondary-color);
  font-size: 20px;
  font-weight: 600;
  margin: 10px 5px;
}

.dots .dot.active {
  border-color: #fbbe98;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
#col1, #col3, #col2{
    width: 33.3%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    height: 100%;
  
}
#col1 img, #col3 img{ 
    max-width: 35%;
    max-height: 100%;
    width: auto;
    height: auto;
    border: 7px solid brown;
    border-radius: 5%;
}
#col3 img{
    max-width: 70%;
    max-height: 100%;
    width: auto;
    height: auto;
}
#col2 p {
    text-align: center;
}
section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}
h3{
    width: 90%;
    text-align: center;
}
#infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#infos button{
    width: 30%;
    height: 98%;
    position: relative;
    padding: 0;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
   }
   button:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
   }
   
   button span {
    position: absolute;
   }
   
   button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
   }
   
   button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
   }
   
   button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   button:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
   }
   
   button:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }

#infos p{
    font-size: 20px;
    color: rgba(0, 255, 255, 0.658);
}

form{
    width: 80%;
    background-color: rgb(228, 165, 70) ;
    
}
.form-label{
  margin: 0.5rem;
}
#btnEntrar{
    background-color: rgba(255, 0, 0, 0.87);
}
#paginaSemFooter{
    width: 100%;
    display: flex;
    
}
footer{
    text-align: center;
    background-color: rgba(0, 0, 255, 0.555);
    width: 100%;
    height: 29%;


}
footer p{
    font-size: 20px;    
    display: inline-block;

}
.pt-4 {
    padding-top: 1rem!important;
}
@media(max-width:1380px){
    #infos button{
        width: 200%;
        height: 80%;
    }
 
    #col1 img, #col3 img{
        max-width: 90%;
        max-height: 90%;
    }
}
@media(max-width:840px){

    #col3 img{
        max-width: 110%;
        max-height: 15%;
    }


}

@media (max-width:992px){
    footer{
        height: 150%;
    }
}
@media(max-width:500px){
   body{
       margin-top:30% ;
   } 
   div #col2 {
    width: 100%;
}
}
@media(max-width:430px){
    body{
        margin-top:80%;
    }
    div #col2 {
        width: 100%;
    }
    #col1 img, #col3 img{ 
        display: none;
        }
}
@media(max-width:270px){
    body{
    margin-top: 20rem;
    }
        div #col2 {
            width: 100%;
        }
}