@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body {
  background-color: #111927;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(214.74, 15%, 26%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(246.99, 76%, 74%) 0, transparent 55%);
  font-family: "Righteous", cursive;
  color: white;
}
#pesquisa {
  justify-content: right;
  float: right;
}

.card {
  --color-1: #9488ef;
  --color-2: rgb(28, 0, 48);
  --color-3: #38404b;
  width: 450px;
  height: 200px;
  background: var(--color-3);
  box-shadow: -10px -10px var(--color-1), 15px 10px var(--color-2);
  transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
  margin: 1% auto;
  
}

.card:hover {
  box-shadow: -10.275px -10.275px var(--color-1), 15.4px 10.275px var(--color-2);
  transform: scale(1.025);
}

.texto-card {
  display: float;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
}
#cartaz {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 5%, 5%;
}
.cards {
  list-style: none;
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 20px;
  position: relative;
  margin-top: 5%;
  height: 500px;
}
.cards-texto {
  font-size: 15px;
}
.cards-img {
  height: 500px;
  width: 400px;
  border-radius: 20px;
  display: block;
}
